body {
  color: black;
  background-color: #ccc;
  font-size: 10px;
  margin: 0; padding: 0;
}

.wrapper {
  width: 840px;
  margin: 0 auto;
  background-color: #eee;
  border-radius: 0px 0px 30px 30px;
  text-align: center;
}

canvas {
  background-color: black;
  margin: 0 auto;
  color: white;
}

h1 {
  margin: 0px;
}
